.hotline-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.hotline-icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #e74c3c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hotline-icon:hover {
  background-color: #c0392b;
}

.hotline-icon-animate {
  animation: rotate 5s infinite linear;
  font-size: 24px;
  color: #ffffff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hotline-modal {
  position: absolute;
  bottom: 80px;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  animation: slide-up 0.3s ease-in-out;
  min-width: 180px; /* Thay đổi kích thước tối thiểu theo ý muốn */
  max-width: 300px; 
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hotline-option {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hotline-option:hover {
  background-color: #f2f2f2;
}

.hotline-option svg {
  margin-right: 8px;
}

.hotline-option span {
  font-size: 14px;
}

