@media only screen and (min-width: 771px) {
    .page-phim {
        width: 980px;
        margin: 0px auto;
    }
}

#soon-movie .page-phim {
    margin: 0 auto;
    margin-top: 30px;
}

@media only screen and (min-width: 770px) {
    #soon-movie .category-title {
        border-bottom: 3px solid #241d1e;
        margin-bottom: 35px;
        position: relative;
    }
}

#soon-movie .page-title {
    margin-top: 30px;
}

#soon-movie .category-title h1 {
    text-transform: capitalize;
}

@media only screen and (min-width: 770px) {
    #soon-movie .category-products {
        float: left;
        width: 100%;
    }
}

#soon-movie .flex-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 770px) {
    #soon-movie .film-lists {
        width: 197px;
    }
}

@media only screen and (min-width: 770px) {
    #soon-movie .products-grid {
        float: left;
        width: 100%;
        border-bottom: 3px solid #241d1e;
        margin-bottom: 40px;
    }
}

li {
    list-style-type: none;
}

#soon-movie .products-grid {
    position: relative;
    /* justify-content: space-between; */
    /* padding-left: -20px; */
    padding: 0;
}

#soon-movie .cgv-movies .products-grid>li {
    text-align: left;
}

#soon-movie .item {
    margin-top: 10px;
    margin-right: 64px;
    /* width: 20%; */
    /* box-shadow: 5px 5px 4px gray; */
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0;
}

@media only screen and (min-width: 960px) {
    #soon-movie .col:nth-child(4n) {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 960px) {
    #soon-movie .col:nth-child(4n+1) {
        margin-left: 0px;
    }
}

#soon-movie .film-lists .nmovie-rating.nmovie-rating-c13 {
    background-position: -50px -2px;
}

#soon-movie .film-lists .nmovie-rating.nmovie-rating-p {
    background-position: -3px -2px;
}

#soon-movie .film-lists .nmovie-rating.nmovie-rating-c16 {
    background-position: -97px -2px;
}

#soon-movie .film-lists .nmovie-rating.nmovie-rating-c18 {
    background-position: -144px -2px;
}

#soon-movie .film-lists .nmovie-rating {
    position: absolute;
    z-index: 20;
    width: 45px;
    height: 30px;
    top: 15px;
    left: 15px;
    font-size: 0px;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-movie-rating.png) no-repeat scroll top left transparent;
    /* border: 1px solid #fff; */
}

#soon-movie .product-images {
    position: relative;
}

#soon-movie .products-grid .product-image {
    max-width: 100%;
    height: 260px;
}

#soon-movie .product-name {
    color: #333;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#soon-movie .category-products .products-grid .product-image {
    border: 6px solid #000000;
    display: inline-table;
    font-size: 20px;
}

#soon-movie .products-grid .product-image {
    margin-bottom: 5px;
}

#soon-movie .products-grid .product-image {
    width: 100%;
    margin-bottom: 15px;
}

#soon-movie .product-image,
.no-touch .product-img-box .product-image:not(.zoom-available):hover {
    position: relative;
    display: block;
}

#soon-movie .products-grid .product-image img {
    width: 100%;
    height: auto;
}

#soon-movie .products-grid .product-image img {
    height: 260px;
    width: 185px;
}

#soon-movie .products-grid .product-image:before {
    background-color: white;
    opacity: 0.8;
    z-index: 2;
}

#soon-movie .products-grid .product-image:before,
.products-grid .product-image:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}


#soon-movie .page-phim img {
    display: block;
}

#soon-movie .page-phim a {
    text-decoration: none;
    --bs-link-color: #000;
    color: var(--bs-link-color);
    cursor: pointer;
}

#soon-movie .category-products .products-grid li .product-info {
    width: 100%;
}

#soon-movie .products-grid .product-info {
    position: relative;
    padding-bottom: 95px;
    text-align: left;
}

#soon-movie .products-grid .product-name,
.products-list .product-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
}

#soon-movie .category-products .products-grid .product-name a {
    color: #333 !important;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
}

#soon-movie .products-grid .product-name a,
.products-list .product-name a {
    font-weight: 500;
}

#soon-movie h2.product-name a,
h3.product-name a,
h4.product-name a,
h5.product-name a,
p.product-name a {
    color: #636363;
}

#soon-movie .cgv-info-bold {
    font-weight: bold;
    font-size: 13px;
}

#soon-movie .cgv-info-normal {
    font-size: 14px;
}

#soon-movie .film-lists ul .add-to-links {
    float: left;
    width: 100%;
    padding: 0px;
}

#soon-movie .products-grid .add-to-links {
    margin-bottom: 0;
}

#soon-movie .add-to-links {
    display: flex;
    /* margin-top: 40px; */
    justify-content: space-between;
    /* margin-top: 14px; */
    padding: 0;


}

#soon-movie .film-lists ul .add-to-links li:first-child {
    flex: 1;
}

#soon-movie .film-lists ul .add-to-links li:last-child {
    flex: 1;

}

.page-phim .btn-booking,
.btn-booking:hover,
.btn-booking:active,
.btn-booking:focus {
    background: none no-repeat scroll 0 0 #e71a0f;
    border-radius: 5px;
    padding: 9px;
    /* border:2px double #fff !important; */
    padding: 6px 5px !important;


}

.btn-booking>span,
.btn-booking:hover>span,
.btn-booking:active>span,
.btn-booking:focus>span {
    padding-left: 25px;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cate-booking.png) no-repeat scroll left center rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.page-phim .btn-like,
.btn-like:hover,
.btn-like:active,
.btn-like:focus {
    background: none no-repeat scroll 0 0 #0f77e7 !important;
    border-radius: 2px;
    padding: 0px 12px !important;
    margin-left: 0px !important;
    margin-top: 4px;


}

.btn-like>span,
.btn-like:hover>span,
.btn-like:active>span,
.btn-like:focus>span {
    font-size: 11px;
    text-transform: capitalize !important;
    margin-left: 5px;
}

.page-phim .button {
    display: inline-block;
    color: #FFFFFF;

    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    border: none;
    vertical-align: middle;
    white-space: nowrap;
}

.film-lists .nmovie-rating.nmovie-rating-p {
    background-position: -3px -2px;
}

.btn .btn-like {
    background-color: #0f77e7;
}


ul.toggle-tabs {
    list-style-type: none;
    list-style: none;

}

li.date {
    float: left;
    margin: 2px;
}

li.current .day {
    outline: 2.5px solid #222;
}

.day {
    color: #717171;
    cursor: pointer;
    height: 48px;
    position: relative;
    width: 77px;
    border: 2px solid #fdfcf0;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}


.day span {
    color: #717171;
    font-size: 11px;
    left: 4px;
    position: absolute;
    top: 4px;
}

.day em {
    color: #717171;
    font-size: 11px;
    font-style: normal;
    left: 4px;
    position: absolute;
    top: 20px;
}


.day strong {
    color: #717171;
    font-size: 32px;
    font-weight: normal;
    left: 31px;
    line-height: 32px;
    position: absolute;
    top: 8px;
}



.toggle-tabs-city {
    display: block;
    list-style: none;
}

.current-location {
    background-color: #222;
    border-radius: 5px;
    display: inline-block;
}

.current-location span {
    color: #fff !important;
    padding: 5px;
    height: 48px;
    line-height: 48px;
}

.location span {
    color: #717171;
    padding: 5px;
    height: 40px;
    line-height: 40px;
}

.location {
    float: left;
    cursor: pointer;
}


.toggle-tabs-type {
    display: block;
    list-style: none;
}

.current-type {
    background-color: #222;
    border-radius: 5px;
    display: inline-block;
}

.current-type span {
    color: #fff !important;
    padding: 5px;
    height: 48px;
    line-height: 48px;
}

.type span {
    color: #717171;
    padding: 5px;
    height: 40px;
    line-height: 40px;
}

.type {
    float: left;
    cursor: pointer;
    margin: 8px;
}

.type-watch {
    display: block;
    border-top: 2px solid;
}

.appear {
    display: block;
}

.hide {
    display: none;
}


.modal-footer {
    justify-content: flex-start !important;
}